<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAMPXYrTBwB87BOE2mFuBIspkyN1pWaQekJ+eRXTwyYc8CLHpGCU4oZwObf23rbiEIu8Jx/mvEmDvrkiIgOUzRevpWgbyvMitsFqKbJelcfUDgiMVFbP4Wt/dxsiQU9Anw50+u1</string>
	<string>jYvrSxIQifJ1eWVYjT755kimsSqJKi/an5SzaTAgMBAAECgYB9CBjjkENJbRO7eXCiEvsUPm4jNaxeZIku7wwnEceISGLAuzGIKfS7vlaowkjt4aav+A2tMgHI05zwf/3S1v5O9</string>
	<string>JxFaohIA9pqJrUd6bm8ky+cgefHym/kYNYBP1CMkwZQG5BxtbxicW7gTdwryRmxPEleNA7fRV217S+RfOAcSQJBAPsnAxytNA9rZISbh9CZYdH880CTatiJNyFHFeNNgBpMNi9E</string>
	<string>OGh375OtSSZBwf7N4sTj1UbG8dyiNx2WN8EBmf0CQQDHnxJnwQqZOaXoWttOURZXgh4FvF6WGIFV4oDlBYF5OXDTfUlIrwbEQAGYbZrMCPo0jFL3o6yUZSkLgRDfl2/PAkAj1M8G2lchFAtFOANKaXehQ9tYjS+jMQ</string>
	<string>BiiQfAZCAwoErit3LsxJ+zi/dxs9P/jFQcDv0wmdWLysDeQb42lQnpAkAsq/JoeZCvnXD9QGfXbNn9F0c0rWTVXgKDf76sgcDpqesPyPe/Zjuza0dwHwcHJfMoE0b12BDk3IaE5osqHi+NAkAGaJhYgH9V1W6pMJEEqfaBYdrYa7Vlv1wxtvdDra2IEM1EfW5HjcjffoiZ</string>
	<string>DPe6f0A1+errqalmpI9ee+C9AUyl</string>
</array>
</plist>
